@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 450px 200px 200px;
    grid-template-rows: 180px 180px;
    background-color: hsl(210, 46%, 95%);
    gap: 20px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    
    padding-top: 4rem;
    font-size: 13px;
       
     
}


.item1 {
    display: flex;
    flex-direction: column;
    
    
}

.item1-1 {
    display: flex;
    justify-content: flex-start;
    
}

.item1-1 img,
.item1-1 .name1 {
    padding: 5px;
} 

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.item2 {
    display: flex;
    flex-direction: column;
    
}

.item2-2 {
    display: flex;
    justify-content: flex-start;
} 

.item2-2 img,
.item2-2 .name2 {
    padding: 5px;
} 

.item3 {
    display: flex;
    flex-direction: column;
}

.item3-3 {
    display: flex;
    justify-content: flex-start;
}

.item3-3 img,
.item3-3 .name3 {
    padding: 5px;
} 

.item4 {
    display: flex;
    flex-direction: column;
}

.item4-4 {
    display: flex;
    justify-content: flex-start;
    
}

.item4-4 img,
.item4-4 .name4 {
    padding: 5px;
} 

.item5 {
    display: flex;
    flex-direction: column;
    
}

.item5-5 {
    display: flex;
    justify-content: flex-start;
    
}

.item5-5 img,
.item5-5 .name5 {
    padding: 5px;
} 