@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: hsl(210, 46%, 95%);
    padding: 20px;
    margin: 50px;
    



